
#photo {
    display: flex;
    justify-content: center;
    padding-top: 28%;
  }

#links {
  display: flex;
  justify-content: center;
}
 .background {
    background-image: url('../../public/images/phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width:29vh;
    margin-top: 5%;

}



@media (min-width : 850px) {
    .size{
        width: 50%;
        height: 88vh;
        display: flex;
        justify-content: center;

    }
    #buttons{
      width: 150px;
    }
  
  }

@media (max-width:850px ) and (min-width : 720px) {
    .size{
         width: 50%;
         height: 88vh;
         margin-left: 5%;   
    }
 
 
  }


@media (max-width : 720px) {
    .size{
         width: 100%;
         height: 88vh;
        display: flex;
        justify-content: center;
        
    }

  }