@media (min-width : 720px)  {
    #profileData{
        width: 45%;
    }
}

#picture{
    border:  #060506 2px solid;
    border-radius: 10px;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
}

#icon {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 10%;
    opacity: 0.5;
}